*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(58, 245, 73, 0.534), rgba(4,9,30,0.7)), url(plant1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    /* width: 150%; */
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    /* color: azure; */
}
.links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.links ul li::after{
    content:'';
    width: 0%;
    height: 3px;
    background:rgb(255, 0, 0);
    margin: auto;
    transition: 0.5s;
    display: block;
}
.links ul li:hover::after{
    width: 100%;
}
.box{
    width: 90%;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 3px solid #f05246;
    background: #f05246;
    transition: 1.1s;
}
/* nav.fa{
    display: none;
} */
@media(max width: 700px){
.links ul li{
    display: block;
    }
    .links{
        position: absolute;
        background: #F44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
.lol{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: 600;
}
#id{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 0;
    line-height: 22px;
    padding: 10px;
    /* font-weight: bold; */
}
.yol{
    /* margin: 20px;
    border: 4px solid rgb(1, 59, 59);
    padding: 20px; */
    /* border-radius: 50% 20% / 10% 40%; */
    /* border-radius: 25% 10%;
    background-color: #ffefd5;
    width: 350px;
    box-sizing: border-box;
    display: inline-block; */
    /* margin-top: 5%;
    display: flex;
    justify-content: space-between; */
    flex-basis: 31%;
    background: #f0d1d1;
    border-radius: 10px;
    /* margin-bottom: 5%; */
    margin: 20px;
    padding: 20px 12px;
    box-sizing: border-box;
    width: 350px;
    display: inline-block;
    font-family: 'Quintessential', cursive;
}
.yol:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.bruh{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-family: 'Quintessential', cursive;
}
.yol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.bol img{
    width: 290px;
    height: 500px;
    box-sizing: border-box;   
    display: inline-block;
}
.dead{
    /* background: rgba(90, 18, 18, 0.575); */
    /* height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; */
}